.moove{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.ves{
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 36px;
}

.sea{
     text-align: center;
     font-family: "Manrope", sans-serif;
      font-size: 17px;
}