.order{
 background: linear-gradient(to right,#074173,
#1679AB,
#5DEBD7,
#dee1dc); 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: "Manrope", sans-serif;
 font-size: 18px;
 width:300px;


&:hover{

 font-size: 20px;
}

}









