.order{
 background: linear-gradient(to right,#074173,
#1679AB,
#29f3d8,
#b5d2ea); 
    color: rgb(238, 238, 241); 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: "Manrope", sans-serif;
 font-size: 18px;
 font-weight: 500;
 width:300px;


&:hover{

 font-size: 20px;
  width:310px;
}

}


@media (max-width: 500px) {

.order{
    margin-top: 70px;
    padding: 8px;
    border: none; 
   font-size: 16px;
 font-weight: 500;
 width:200px;
}

}









