.about{
    margin-top: 5%;
    display:flex;
    flex-direction: row;
    align-items: center;

}

.position{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.way{
    display:flex;
    flex-direction: column;
   
}

.about{
    font-family: "Manrope", sans-serif;

}

.company{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
  }

  .line{
    font-size: 21px;
     font-family: "Manrope", sans-serif;
     font-weight: 800;
  }

  .text{
    width:600px;
    margin-top: 20px;
    font-size: 19px;
    line-height: 35px;
    font-family: "Manrope", sans-serif;
  }

.pics{
    margin:10px;
    width:45%;
    border-radius: 20px;
}

@media (max-width: 500px) {

.about{
    margin-top: 5%;
    flex-direction: column-reverse;
}

.position{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.way{
    display:flex;
    flex-direction: column;
}

.about{
font-size: 11px;
}

.company{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
  }

  .line{
    font-size: 12px;
    }

  .text{
    width:90%;
    margin-top: 20px;
    font-size: 12px;
    line-height: 29px;

  }

.pics{
    margin:10px;
    width:45%;
    border-radius: 20px;
}


}

