.vessel{
    width:100%;
    height:auto;
position:absolute;
opacity: 0.8;
}

.seaShip{
    color:#313647;
    font-size: 53px;
    font-weight: 700;
       font-family: "Manrope", sans-serif;
}

.deliver{
    margin-top: 4%;
    color:#313647;
       font-family: "Manrope", sans-serif;
}

.Ship{
    margin-top: 12%;
    margin-left: 3%;
    position: relative;
}



@media (max-width: 500px) {

    .vessel{
        margin-top: 17%;
    }

.seaShip{
    font-size: 15px;
}

.deliver{
    margin-top: 6%;
    font-size: 12px;
}

.Ship{
    margin-top: 26%;

}


}

