.vessel{
    width:100%;
    height:auto;
position:absolute;
opacity: 0.8;
}

.seaShip{
    color:rgb(75, 73, 73);
}

.deliver{
    margin-top: 10%;
    color:rgb(77, 73, 73);
    font-size: 24px;
}

.Ship{
    margin-top: 7%;
    margin-left: 3%;
    position: relative;
}



@media (max-width: 500px) {

.seaShip{
    font-size: 15px;
}

.deliver{
    margin-top: 8%;
    font-size: 12px;
}




}

