.mynav {
    width: 100%; 
    transition: background-color 0.3s; 
    
    &.scrolled{
        background-color: rgb(93, 89, 105); ;
    }
}


.fixedtop {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}


.topcall{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(93, 89, 105, 0.916);
}

.logoposition{
   display:flex;
    flex-direction: row;
    align-items: center; 
}

.log{
    display:flex;
    flex-direction: column;  
   
}

.position{
     display:flex;
    flex-direction: row;
}

.tel{
    margin-left:170px;
}

.phone{
 text-decoration: none;
 color:rgb(197, 193, 193);
     font-family: "Manrope", sans-serif;
     font-size: 17px;
}

.info{
    text-decoration: none;
    color:rgb(223, 213, 213);
    font-family: "Manrope", sans-serif;
    font-size: 17px;
    margin-right: 100px;
}

.logo{
    width:90px;
}

.mail{
     margin-left:110px;
  
}

.seaLine{
    color:wheat;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.logistic{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color:wheat;
  text-decoration: none;
}

.link {
    text-decoration: none;
}


.mailLog{
margin-right: 5px;}

   .phoneCall{
    margin-right: 5px;
   }


@media (max-width: 500px) {

    .mailLog{
display:none;}

   .phoneCall{
   display:none;
   }

.log{
    flex-direction: column;  
}

.seaLine{
    font-size: 14px;
}

.logistic{
     font-size: 12px;
}

.logo{
    width:40px;
}

.phone{
 font-size: 12px;
}

.info{
    font-size: 12px;
    margin-right: 20px;
}

.mail{
     margin-left:1px;
  
}


.tel{
    margin-left:12px;
    margin-right: 12px;
}

.position{
     display:flex;
    flex-direction: row;
}

.topcall{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}


}

