.topcall{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(93, 89, 105, 0.916);
}

.logoposition{
   display:flex;
    flex-direction: row;
    align-items: center; 
}

.log{
    display:flex;
    flex-direction: column;  
}

.position{
     display:flex;
    flex-direction: row;
}

.tel{
    margin-left:170px;
}

.phone{
 text-decoration: none;
 color:rgb(197, 193, 193);
     font-family: "Manrope", sans-serif;
     font-size: 17px;
}

.info{
    text-decoration: none;
    color:rgb(223, 213, 213);
    font-family: "Manrope", sans-serif;
    font-size: 17px;
}

.logo{
    width:90px;
}

.mail{
     margin-left:110px;
  
}

.btn{
  margin-left: 25%;
}

.seaLine{
    color:wheat;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.logistic{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color:wheat;
}

@media (max-width: 500px) {

.log{
    flex-direction: column;  
}

.seaLine{
    font-size: 14px;
}

.logistic{
     font-size: 12px;
}

.logo{
    width:40px;
}

.phone{
 font-size: 12px;
}

.info{
    font-size: 12px;
}

.mail{
     margin-left:1px;
  
}

.btn{
margin-left: 16px;

}

.tel{
    margin-left:12px;
    margin-right: 12px;
}

.position{
     display:flex;
    flex-direction: row;
}

.topcall{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}


}

