.order{
    font-size: 16px;
    background: linear-gradient(to right, #DC143C, #FA812F); 
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: "Manrope", sans-serif;


&:hover{
 background: linear-gradient(to right, #f32c54, #eb833e); 
 font-size: 18px;
}
}

@media (max-width: 500px) {

.order{
    font-size: 13px;
    padding: 3px;

}

.icon{
    width:20px;
}

}