.pol{
    margin-top: 40px;
    background-color: transparent;
    color:rgb(7, 9, 73);
    border:none;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    
&:hover{
    color: rgb(9, 9, 9);
}
   }


   @media (max-width:500px){
.pol{
   
    font-size: 13px;

   }
   }