.position{
    margin-top: 16%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    }

.image{
    width:100%;
    transition: transform 0.3s ease;
 &:hover{
 transform: scale(1.1);
    }
}

.imageContainer{
    overflow: hidden; 
    width: 400px; 
    position: relative; 
}



.textposition{
   text-align: center;
   font-size: 27px;
   font-weight: 200;
   font-family: "Manrope", sans-serif;
}

.our{
   text-align: center;
   font-size: 37px;
   font-weight: 700;
    font-family: "Manrope", sans-serif;
}

.cardPosition{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
display:flex;
flex-direction: column;
justify-content: center;
margin-top: 3%;
}

.description{
   width:400px; 
   font-family: "Manrope", sans-serif;
   height:10vh;
}

.title{
    margin-top: 10px;
    width:500px; 
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}

@media (max-width: 500px) {

    .position{
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    }

.image{
    width:250px;
}


.imageContainer{
    overflow: hidden; 
    width: 270px; 
    position: relative; 
}


.textposition{
   text-align: center;
   font-size: 13px;
  }

.our{
   text-align: center;
   font-size: 14px;
  }



.title{
       margin-top: 1px;
       width:250px; 
       font-size: 17px;
       font-weight: 800;
}

.description{
   width:270px; 
   height:auto;
}

}



