.imageContainer {
    margin-top: 4%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.vessel {
    max-width: 50%; 
    height: auto;
}

@media (max-width: 500px){
    .vessel {
    max-width: 80%; 
    height: auto;
}
}