.brand{
    display:none;
}

.bg {
    margin-top: 90px; // Увеличьте значение, если нужно больше отступа
    background-color: #f8f9fa; // Цвет фона, как пример
    position: fixed; // Фиксируем навбар
    top: 0; // Устанавливаем его в верхней части страницы
    left: 0; // Устанавливаем его к левому краю
    right: 0; // Устанавливаем его к правому краю
    z-index: 1000; 
}


@media (max-width: 500px) {

.bg {
    margin-top: 78px; // Увеличьте значение, если нужно больше отступа
    background-color: rgb(93, 89, 105);

 }

.burgerButton {
  margin-left: 290px; // Сдвигаем кнопку бургер вправо на 290 пикселей
  background-color: transparent; // Делаем фон прозрачным
  border: none; // Убираем границу

}
  // Стили для иконок (линий) кнопки-бургера
  .navbar-toggler-icon {
    background-color: white; // Цвет линий кнопки-бургера
  }

.nav-link {
  font-size: 1.2rem; // Увеличиваем размер шрифта для лучшей читаемости
}

  .navbar-nav {
    padding: 20px; // Увеличиваем отступы на маленьких экранах
  }

  .navbar-collapse {
  width: 100%; // Устанавливаем ширину на 100%
}

.navbar-nav {
  padding: 10px; // Увеличиваем отступы для элементов навигации
}

}