.brand{
    display:none;
}

.bg {
    margin-top: 90px; // Увеличьте значение, если нужно больше отступа
    background-color: #f8f9fa; // Цвет фона, как пример
    position: fixed; // Фиксируем навбар
    top: 0; // Устанавливаем его в верхней части страницы
    left: 0; // Устанавливаем его к левому краю
    right: 0; // Устанавливаем его к правому краю
    z-index: 1000; 
}


@media (max-width: 500px) {

.bg {
    margin-top: 70px; // Увеличьте значение, если нужно больше отступа
    background-color: #f8f9fa; // Цвет фона, как пример
    position: fixed; // Фиксируем навбар
    top: 0; // Устанавливаем его в верхней части страницы
    left: 0; // Устанавливаем его к левому краю
    right: 0; // Устанавливаем его к правому краю
    z-index: 1000; 
}

.burgerButton {
  margin-left: 290px; // Сдвигаем кнопку бургер вправо на 500 пикселей
}

.nav-link {
  font-size: 1.2rem; // Увеличиваем размер шрифта для лучшей читаемости
}

  .navbar-nav {
    padding: 20px; // Увеличиваем отступы на маленьких экранах
  }

  .navbar-collapse {
  width: 100%; // Устанавливаем ширину на 100%
}

.navbar-nav {
  padding: 10px; // Увеличиваем отступы для элементов навигации
}

}