.stop{
   color:wheat;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display:none;
}
.logo{
    width:40px;
    display:none;
}

.bg {
    margin-top: 80px; // Увеличьте значение, если нужно больше отступа
    background-color: #f8f9fa; // Цвет фона, как пример
    position: fixed; // Фиксируем навбар
    top: 0; // Устанавливаем его в верхней части страницы
    left: 0; // Устанавливаем его к левому краю
    right: 0; // Устанавливаем его к правому краю
    z-index: 1000; 
}

.btn{
    display:none;
}

.phone{
  display:none;
}

.info{
     display:none;
}

.mail{
    display:none;
  
}


.tel{
  display:none;
}




@media (max-width: 500px) {

   .brand {
       display: block;
        color: wheat;
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 600;
    }

.bg {
    margin-top: 0px; // Увеличьте значение, если нужно больше отступа
    background-color: rgba(93, 89, 105, 0.851);

 }

 .navContainer {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
}


  .logo {
    display:block;
        width: 40px; /* Установите нужный размер логотипа */
        height: auto; /* Сохраняем пропорции */
        margin-left: 10px;
    }

  .navbar-toggler-icon {
    background-color: white !important; // Цвет линий кнопки-бургера
  }

.nav-link {
  font-size: 1.2rem; // Увеличиваем размер шрифта для лучшей читаемости
}

  .navbar-nav {
    padding: 20px; // Увеличиваем отступы на маленьких экранах
  }

  .navbar-collapse {
  width: 100%; // Устанавливаем ширину на 100%
}

.navbar-nav {
  padding: 10px; // Увеличиваем отступы для элементов навигации
}

.phone{
           display:block;
 font-size: 12px;
}

.info{
    display:block;
    font-size: 12px;
    margin-right: 20px;
}

.mail{
       display:block;
     margin-left:1px;
  
}


.tel{
       display:block;
    margin-left:12px;
    margin-right: 12px;
}

.btn{
    display:block;
}

.position{
     display:flex;
     flex-direction: row;
}

.stop{
    color: wheat !important;
    font-family: "Manrope", sans-serif;
    font-size: 21px !important;
    font-weight: 400;
    text-decoration: none;
    display:block;
  text-decoration: underline !important;
}

.brandContainer {
    display: flex; // Используем flexbox для выравнивания
    align-items: center; // Вертикальное выравнивание по центру
}

}