.vesselPosition{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.textPosition{
    margin-top: 12%;
    margin-left: 5%;
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b8c4a96c;
    padding:30px;
}


.text{
   font-family: "Manrope", sans-serif;
   font-size: 27px;
 color:#313647;
 font-weight: 200;
 line-height: 37px;
}

.year{
      font-family: "Manrope", sans-serif;
   font-size: 27px;
 color:#313647;
 font-weight: 700;
}

.finder{
    display:flex;
    flex-direction: column;
}

.vesselOne{
    margin:10px;
     width:400px;
}

.vesselThree{
     margin:10px;
 width:400px;
}

.vesTwo{
    width:600px;
}

.vesselFour{
        margin:10px;
 width:400px;
}

@media (max-width: 500px){



.text{
   font-size: 17px;
   line-height: 32px;
}

.year{
   font-size: 17px;
}


.vesselOne{
    margin:10px;
     width:100px;
}

.vesselThree{
     margin:10px;
 width:100px;
}

.vesTwo{
    width:200px;
}

.vesselFour{
        margin:10px;
 width:100px;
}
}

