.style{
   width: '100%';
   border: '1px solid black' ;
       margin-bottom: 5%;
}

.footerBack{
    margin-top: 2%;
    text-align: center;
   background-color: rgba(93, 89, 105, 0.916);

}

.container{
    list-style: none;
    font-family: "Manrope", sans-serif;
   
}

.timework{
       font-family: "Manrope", sans-serif;
       color:aliceblue;
    
}

.space{
     font-family: "Manrope", sans-serif;
       color:aliceblue;
}

.contacts{
     font-family: "Manrope", sans-serif;
     font-weight: 100;
     color:aliceblue;
}

.line{
    font-family: "Manrope", sans-serif;
     font-weight: 400;
     color:aliceblue;
}

.we{
   font-family: "Manrope", sans-serif;
   font-weight: 100; 
   color:aliceblue;
   font-size: 23px;
}

.name{
    width:80px
}

.year{
    margin-top: 3%;
      font-family: "Manrope", sans-serif; 
      font-size: 18px;
      color:aliceblue;
      font-weight: 100;
}


@media (max-width: 500px) {

.we{
   font-size: 12px;
}

.name{
    width:40px
}

.year{
       font-size: 10px;
}

}